html
  head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      h1 #{pageTitle}
      img(src='/bug-icon.jpg', width='72', height='72', alt='Bughunt')
      p Time to squish some bugs.
      p 
        | Bugs have invaded planet P.
        | Your mission is to gain air superiority for our ground forces by
        | sweeping the sky clean of these alien invaders.
      a(href="/BugHunt.html") Click here to play the game!
      h3 Top Ten High Scores
      div
        table
          thead
            tr
              th User
              th Score
              th Date
          tbody
            - each score in scores
              tr 
                td= score.user
                td= score.value
                td #{score.created_on.toDateString()}
      div
        h3 Colophon
        p This website was designed and built by Mike Silversides. 
        p  
          | The site is hosted on Amazon 
          a(href="http://aws.amazon.com/") Amazon Web Services
          | . Web pages served by Node.js using Express.
          | MongoDB was used to persist the high score data.
          | Bughunt server source is saved at 
          a(href="https://github.com/acharraggi/bughunt") GitHub
          | . Audio was prepared in Audacity prior to importing to Unity.
        p 
          | The actual game was developed using 
          a(href="http://unity3d.com/") Unity
          |  and deployed for their web player.
        h3 Credits
        p 
          | Bug Hunt was based on the Ace Invaders project from the 
          | Unity 3 Blueprints book. It was modified to capture high scores;
          | improve game play with an intro and game over phase and other
          | fixes; plus add
          | a sound track and sound effects. 
          a(href="/AceInvaders.html") Click here to try that game.
        p 
          | I used the tutorial on the blog of 
          a(href="http://iconof.com/blog/how-to-install-setup-node-js-on-amazon-aws-ec2-complete-guide") Kostas Mavropalias
          |  to get started with Amazon Web Services and node.
          | This page on the the 
          a(href="http://howtonode.org/express-mongodb") How To Node
          |  site got me started with Express and MongoDB.
        p 
          | The sound track is The Razor's Edge by AC/DC.
          | Other sound effects from&nbsp;
          a(href="http://freesound.org") Freesound.org.
